<%= stylesheet_link_tag "/static/front.css"%>
<div class="span-24 last" id="center_image">
	<div class="span-12 right large ">
		Give your camera BRAINS!
	</div>
	<div class="span-12 left last">
		<%= image_tag "front/ballcam.jpg"%>
	</div>
</div>

<div class="span-11">

	<div class="medium">
		Slideshow
	</div>
	<%= slideshow %>
	
	<div class="medium">
		Paper
	</div>
	<a href="Vision_on_Tap.pdf">Vision on Tap CVPR Workshop Paper</a>
	
	<div class="medium">
		Demo
	</div>
		Try <a href="/spot.html">Spot Watcher</a>. It watches a spot for movement, and then sends you an alert as an audio ping, SMS, email, or Twitter message.
		Check out some <a href="/example.html">examples</a>!
	
	<div class="medium">
		Sign Up
	</div>
	<a href="/person/new">Sign up</a> to be an Alpha tester!
	
	
</div>

<div class="span-12 prepend-1 last">
	<div class="medium">
		Awesomeness
	</div>
		<p>To understand Vision on Tap, we must first understand computer vision. What is computer vision? It lets computers use cameras to do crazy things like automatically stitch together panoramas, reconstruct 3D geometry from multiple photographs, and even tell you when the water's boiling.</p>
		<p>For decades, this technology has been advancing mostly within the confines of academic institutions and research labs. With Vision On Tap, we're going to bring it to the masses.</p>
	
	<div class="medium">
		Privacy
	</div>
	<p><em>Ok, great, so I visit this website that hooks brains into my camera. Now a computer with brains is looking at me. This is weird.</em></p>
	<p><strong>Have no fear!</strong> We don't take pictures unless you want them. We can't see you. No one can.</p>
	<p>On the flip side, if you actually want to share your pictures, you can!</p>

</div>

<!-- <div class="span-6 last">
	<div class="medium">
		Updates
	</div>
	<%= twitter %>
</div> -->
