
<% form_for :person, @person, :url => { :action => "create" } do |f| %>
	<div>
	<div>Name:</div><div><%= f.text_field :name %></div>
	<div>Email:</div><div><%= f.text_field :email_address %></div>
	</div>
	
	<div><%= submit_tag 'Submit'%></div>
<% end %>